.jumbotron{
    padding: 2rem 2rem;
    margin-bottom: 0.5rem;
}

.profile-img{
    border-radius: 50%;
}
.descr{
    width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
footer{
    color: white;
    background: #000;
    width: 1350px;
    text-align: center;
    animation:  color-change 10s ease-in-out infinite;
}

.stars{
    font-family:FontAwesome;
    color: rgb(243, 215, 54);
}

@keyframes color-change{
    0%{
        background: #000;
        color: white;
    }
    16%{
        background:#0079C4;
    }
    32%{
        background:#FAAC86;
    }
    48%{
        background:#E61F34;
    }
    64%{
        background:#C71A2E;
    }
    80%{
        background: #FFD63E;
        color: black;
    }
    100%{
        background: #FFD53B;
        color: black;
    }
}